<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="Web Automation Test Suite" parallel="false">
    <suite-files>
        <!--<suite-file path="web/chrome/auth/PmAuthSuite.xml"/>-->
        <suite-file path="web/chrome/project/createprojectsuite.xml"/>

       <!--<suite-file path="web/chrome/project/createprojectsuite.xml"/>-->
        <!--<suite-file path="web/chrome/allocation/allocationsuite.xml"/>-->
        <!--<suite-file path="web/chrome/userGrid/UserGridSuite.xml"/>-->
    </suite-files>
</suite>